<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<import resource="commandSpring.xml" />
	
	<bean id="student" class="by.home.homeproject.entity.Student" />
	<bean id="mark" class="by.home.homeproject.entity.Mark" />
	<bean id="subject" class="by.home.homeproject.entity.Subject" />

	<bean id="studentDao" class="by.home.homeproject.dao.impl.StudentDaoImpl" />
	<bean id="markDao" class="by.home.homeproject.dao.impl.MarkDaoImpl" />
	<bean id="subjectDao" class="by.home.homeproject.dao.impl.SubjectDaoImpl" />

	<bean id="studentService" class="by.home.homeproject.service.impl.StudentServiceImpl">
		<property name="studentDao" ref="studentDao" />
	</bean>
	<bean id="subjectService" class="by.home.homeproject.service.impl.SubjectServiceImpl">
		<property name="subjectDao" ref="subjectDao" />
	</bean>
	<bean id="markService" class="by.home.homeproject.service.impl.MarkServiceImpl">
		<property name="markDao" ref="markDao" />
	</bean>
		
	<bean id="baseDao" class="by.home.homeproject.dao.impl.BaseDaoImpl"
		abstract="true" />
		

		
</beans>